@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
  }
  body {
    background-size: cover;
    background-color: rgb(241, 236, 236);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
  }
  .lufy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F5BF5E; 
    padding: 60px 30px;
  }
  .one-pice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 254, 252);
    max-width: 600px;
    margin-top: -40px;
    margin-left: 30%;
    border-radius: 5px;
    box-shadow: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .zoro{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .zoro a{
    padding-top: 8px;
    text-decoration: none;
    color: black;
  }
  .zoro i{
    color: rgb(227, 141, 55);
    
  }
  hr{
    width: 90%;
    margin: 10px 20px 30px 20px ;
  }
  .sanji{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 30px;
  }
  input{
   margin:12px ;
   padding: 10px;
   width: 90%;
   border-radius: 5px;
  }
  .sanji label{
    padding-left:20px ;
    color: #F5BF5E;
    font-size: larger;
  }
  .sanji textarea{
    margin:12px ;
    padding-bottom: 50px;
    width: 93%;
    border-radius: 5px;
  }
  .sanji button{
    padding: 10px;
    margin-left: 12px;
    color: #150f05;
    background-color:rgb(227, 141, 55);
    border-radius: 5px;
    cursor: pointer;
  }
  .usop i{
    padding-left: 10px;
    color: rgb(227, 141, 55);
  }