@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: #C12E2A;
    --yellow: #FCB940;
    --orange: #1886a9;
    --grey: #F5F5F5;
}

* {
    font-family: 'raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}


/*Header*/
header {
    background-color: var(--grey);
    width: 100%;
}

.my-hr {
    margin: 0px;
}

.head-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
}

.nav-top a {
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    padding-left: 30px;
    color: black;
}

.nav-top i {
    padding-right: 5px;
}

.dropdown-menu i {
    padding-right: 10px;
}

.dropdown-toggle::after {
    display: none;
}

.top-icons a {
    color: black;
    font-size: larger;
}

.in,
.fb,
.tt,
.wa {
    padding-left: 20px;

}

.in:hover {
    color: #c13584;
}

.tw:hover {
    color: #1da1f2;
}

.fb:hover {
    color: #1877f2;
}

.tt:hover {
    color: #69C9D0;
}

.wa:hover {
    color: #25d366;
}

.head-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
}

header h1 {
    font-weight: bold;
    font-size: 30px;
    color: #000000;
}

span {
    font-weight: normal;
}

.navigation a {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    padding-left: 30px;
    color: #000000;
}

.navigation a:hover {
    color: var(--red);
}

/* main */
.description {
    width: 70%;
    padding: 20px 80px;
}

.res-container {
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

.res-container2 {
    flex: 1;
    justify-content: space-around;
    max-width: 450px;
    border-radius: 20px;
    background-color: var(--yellow);
    margin: 15px 80px;
    padding: 20px;
}

.image {
    flex: 1;
    justify-content: space-around;
   max-width: fit-content;
    padding-right: 5%;
}


.res-h2 {
    text-align: center;
}

.form-group {
    width: 410px;
    padding-right: 10px;
    margin-top: 5px;
    border-radius: 3px;
}

.form-group-ls {
    width: 400px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}



.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.res-btn button {
    width: 97.5%;
    padding: 8px;
    margin-top: 5px;
    background-color: var(--orange);
    border-radius: 3px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.res-btn button:hover {
    background-color: var(--orange);
}

/*Footer*/
.footer {
    background-color: var(--grey);
}

.first-part {
    display: flex;
}

.footer-logo {
    flex: 1;
}

.footer-logo h1 {
    padding: 50px 80px;
    font-size: 40px;
}

.footer-text {
    flex: 2;
    display: flex;
    padding: 50px 0px 50px 50px;
}

.footer-title {
    padding-left: 100px;
}

.footer-title h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-title ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-title li {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 5px;
}

.footer-title a {
    text-decoration: none;
    color: #000000;
}


.second-part {
    color: black;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
}

.social-icons a {
    color: black;
    font-size: larger;
}